<h1>Submit Bibliography</h1>
<ul>
    <% @biblio.each do [bookmarks] %>
    <li>
        <%= link_to biblio.title, biblio.url %>
        <%= biblio.url %>
        <%= biblio.title %>
        <%= biblio.comment %>
    </li>
</ul>