<h1>Welcome homepage</h1> 
<p1> Find me in app/views/welcome/homepage.html.erb</p>
<%= link_to "Bibliography", biblios_index_path %>
|| <%= link_to "Create User", user_new_path %>
|| <%= link_to "Login", user_login_path %>